.btn-negative
  background-color: $negative-color

  &:focus,
  &:hover,
  &:active
    background-color: darken($negative-color, 10%)

.btn-warning
  background-color: $warning-color

  &:focus,
  &:hover,
  &:active
    background-color: darken($warning-color, 10%)

.btn-positive
  background-color: $positive-color

  &:focus,
  &:hover,
  &:active
    background-color: darken($positive-color, 10%)

.btn-ignore
  background-color: $ignore-color

  &:focus,
  &:hover,
  &:active
    background-color: darken($ignore-color, 10%)
