%btn-basic-reset
  -webkit-appearance: none
  cursor: pointer
  box-sizing: border-box

%btn-reset
  @extend %btn-basic-reset
  border: 0
  box-shadow: none

%btn-with-border
  @extend %btn-basic-reset
  color: $btn-color
  border: $medium-border solid $btn-color
  padding: 0.5em