.hr-tight
  margin:
    top: $rule-tight-space
    bottom: $rule-tight-space

.hr-loose
  margin:
    top: $rule-loose-space
    bottom: $rule-loose-space

.hr-very-loose
  margin:
    top: $rule-very-loose-space
    bottom: $rule-very-loose-space