.hr-size
  display: block
  margin:
    left: auto
    right: auto

.hr-quarter
  width: 25%

.hr-third
  width: 33%

.hr-half
  width: 50%

.hr-110percent
  width: 110%
  margin-left: -5%

.hr-full-plus-1rem
  width: calc(100% + 1rem)
  margin-left: -0.5rem

.hr-full-plus-2rem
  width: calc(100% + 2rem)
  margin-left: -1rem

.hr-10rem
  width: 10rem

.hr-20rem
  width: 20rem

.hr-30rem
  width: 30rem

.hr-40rem
  width: 40rem

.hr-50rem
  width: 50rem

.hr-60rem
  width: 60rem
