=square($dim)
  +size($dim, $dim)
  
=circle($dim)
  +square($dim)

  border-radius: 50%

=circle-photo-wrap($dim, $box-shadow: none)
  +circle($dim)

  border: $border
  box-shadow: $box-shadow
  overflow: hidden
  background:
    color: rgba($black, 0.1)
    size: cover
