=size($width: 100%, $height: auto)
  width: $width
  height: $height

=space($padding: 0, $margin: 0 auto)
  padding: $padding
  margin: $margin

=spacer-with-border($direction, $spacer-width, $border-width, $border-color, $border-style: solid)
  padding-#{$direction}: $spacer-width
  border-#{$direction}: $border-width $border-style $border-color
  margin-#{$direction}: $spacer-width
