.collapse
  position: relative
  margin-bottom: 1rem

  &__wrap
    &.open
      .collapse__content
        position: relative
        left: 0
        top: 0
        max-height: 20rem
        opacity: 1

  &__content
    position: absolute
    left: -100vw
    top: -1000vh
    max-height: 0
    opacity: 0
    transition:
      property: max-height, opacity
      duration: $fast
      timing-function: $cubic