.story
  &__tile
    +flex-child(70%, 3)
    
    background: rgba($white, 0.9)
    max-width: 60rem
    padding: 1rem
    margin-left: 2rem

  &__trail
    &--list
      +inline-flex-list

    &--item
      +flex-child(50%)
      
      &:not(:first-of-type)
        margin-left: 1rem
