code
  font-family: $mono-font
  padding: 0.25rem 0.5rem
  background: rgba($black, 0.05)
  border-radius: 0.5rem
  overflow: auto
  -ms-overflow-style: scrollbar

pre code
  padding: 0
  background: transparent
