h1,
h2,
h3,
h4,
h5,
h6
  color: $heading-color
  margin: $heading-spacing
  font:
    family: $heading-font
    weight: $h2-weight

  b
    font-weight: $bold-weight

h1
  font:
    size: 2em
    weight: $h1-weight

h2
  font-size: 1.75em

h3
  font-size: 1.5em

h4
  font-size: 1.25em

h5
  font-size: 1em

h6
  font-size: 0.8em

+breakpoint($phone)
  h1
    font-size: 2.25em

  h2
    font-size: 2em

  h3
    font-size: 1.8em

  h4
    font-size: 1.6em

  h5
    font-size: 1.4em

  h6
    font-size: 1.2em

+breakpoint($tablet)
  h1
    font-size: 2.5em

  h2
    font-size: 2.25em

  h3
    font-size: 2em

  h4
    font-size: 1.8em

  h5
    font-size: 1.6em

  h6
    font-size: 1.4em
