.link-negative
  color: $negative-color

  &:focus,
  &:hover,
  &:active
    color: darken($negative-color, 10%)

.link-warning
  color: $warning-color

  &:focus,
  &:hover,
  &:active
    color: darken($warning-color, 10%)

.link-positive
  color: $positive-color

  &:focus,
  &:hover,
  &:active
    color: darken($positive-color, 10%)

.link-ignore
  color: $ignore-color

  &:focus,
  &:hover,
  &:active
    color: darken($ignore-color, 10%)

.link-disabled
  color: $disabled-color

  &:focus,
  &:hover,
  &:active
    color: darken($disabled-color, 10%)

.link-inverted
  color: $link-inverted-color

  &:focus,
  &:hover,
  &:active
    color: lighten($link-inverted-color, 10%)