.grid-stretch-rows
  align-items: stretch

.grid-justify-start
  justify-content: start
  width: auto

.grid-justify-around
  justify-content: space-around

.grid-justify-between
  justify-content: space-between

.grid-justify-evenly
  justify-content: space-between