input[type="checkbox"],
input[type="radio"]
  &:checked
    background-color: $blue

  &.thin-border
    border-width: $border-thin

  &.thick-border
    border-width: $border-thick

  &.negative-box
    border-color: $negative-color

    &:checked
      background-color: $negative-color

  &.warning-box
    border-color: $warning-color

    &:checked
      background-color: $warning-color

  &.positive-box
    border-color: $positive-color

    &:checked
      background-color: $positive-color

  &.ignore-box
    border-color: $ignore-color

    &:checked
      background-color: $ignore-color

  &.disabled-box
    border-color: $disabled-color

    &:checked
      background-color: $disabled-color
