.app__footer
  position: fixed
  bottom: 0
  right: 0
  width: 100vw
  color: rgba($white, 0.75)
  background-color: $footer-bg
  padding: 0.5rem
  text-align: center

  a
    color: lighten($blue, 10%)